* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 18px;
}

body {
  overflow-x: hidden;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0 25px;
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-nav ul {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
  top: 80px;
  width: 90%;
  height: 350px;
  margin: 0 auto;
  background-color: white;
  list-style-type: none;
  visibility: hidden;
  box-shadow: 0 150px 1000px;
  border-radius: 2%;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: black;
}

.desktop-nav {
  display: none;
}

.page-wrapper {
  width: 100%;
}

.page-wrapper .bg .bg-mobile {
  top: 0;
  width: 100%;
  max-width: 100%;
}

.page-wrapper .bg .bg-desktop {
  display: none;
}

.page-wrapper .bg .mock-up {
  z-index: 2;
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
}

.page-wrapper .content-1 {
  text-align: left;
  padding: 5px 100px;
  width: 100%;
}

.page-wrapper .content-1 h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #2d314d;
}

.page-wrapper .content-1 p {
  margin: 20px 0;
  color: #9698a6;
}

.page-wrapper .content-1 .request-invite-btn {
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
}

.page-wrapper .why-choose-easybank {
  text-align: center;
  margin-top: 150px;
  padding: 0 50px;
}

.page-wrapper .why-choose-easybank h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #2d314d;
}

.page-wrapper .why-choose-easybank p {
  margin-top: 20px;
  color: #9698a6;
}

.page-wrapper .easybank-features .online-banking, .page-wrapper .easybank-features .simple-budgeting, .page-wrapper .easybank-features .onboarding, .page-wrapper .easybank-features .open-api {
  text-align: center;
  margin-top: 50px;
  padding: 0 50px;
}

.page-wrapper .easybank-features .online-banking h3, .page-wrapper .easybank-features .simple-budgeting h3, .page-wrapper .easybank-features .onboarding h3, .page-wrapper .easybank-features .open-api h3 {
  font-weight: 500;
  color: #2d314d;
}

.page-wrapper .easybank-features .online-banking p, .page-wrapper .easybank-features .simple-budgeting p, .page-wrapper .easybank-features .onboarding p, .page-wrapper .easybank-features .open-api p {
  margin-top: 20px;
  color: #9698a6;
}

.page-wrapper .latest-articles {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.page-wrapper .latest-articles h2 {
  color: #2d314d;
  font-weight: 500;
  font-size: 2rem;
}

.page-wrapper .latest-articles .articles {
  text-align: center;
  margin: 25px 0;
}

.page-wrapper .latest-articles .articles article {
  margin-top: 3 5px;
}

.page-wrapper .latest-articles .articles article img {
  width: 90%;
}

.page-wrapper .latest-articles .articles article .article-caption {
  text-align: left;
  padding: 25px 35px;
}

.page-wrapper .latest-articles .articles article .article-caption .author {
  color: #9698a6;
}

.page-wrapper .latest-articles .articles article .article-caption h4 {
  color: #2d314d;
  margin: 15px 0;
  font-weight: 500;
}

.page-wrapper .latest-articles .articles article .article-caption p {
  color: #9698a6;
}

.mobile-footer {
  background-color: #2d314d;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.mobile-footer .logo img {
  fill: white;
}

.mobile-footer .socials img {
  width: 30px;
  margin-left: 10px;
}

.mobile-footer ul {
  list-style-type: none;
}

.mobile-footer ul li {
  margin-top: 20px;
}

.mobile-footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.mobile-footer .request-btn {
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  margin-top: 20px;
}

.mobile-footer .rights-reserved {
  color: #9698a6;
  font-size: 0.9rem;
}

.desktop-footer {
  display: none;
}

@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    flex-direction: row;
    z-index: 1200;
    background: white;
  }
  .desktop-nav .logo img {
    width: 200px;
  }
  .desktop-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .desktop-nav ul li {
    margin-left: 50px;
  }
  .desktop-nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #9698a6;
  }
  .desktop-nav ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    position: relative;
    top: 36px;
    transition: width 0.5s ease-in-out;
  }
  .desktop-nav ul li:hover::after {
    width: 100%;
  }
  .desktop-nav .request-invite-btn {
    border-radius: 20px;
    padding: 15px 40px;
    border: none;
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    color: white;
    font-size: 1.2rem;
  }
  .page-wrapper {
    padding: 0px 100px;
  }
  .page-wrapper .bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .page-wrapper .bg .bg-desktop {
    display: block;
    width: 20000px;
    top: -15vh;
    right: -10vh;
    z-index: 1;
    position: relative;
  }
  .page-wrapper .bg .bg-mobile {
    display: none;
  }
  .page-wrapper .bg .mock-up {
    width: 60%;
    position: absolute;
    top: -50px;
    left: 70vw;
    z-index: 20;
  }
  .page-wrapper .bg .content-1 {
    margin-left: 600px;
  }
  .page-wrapper .bg .content-1 h1 {
    font-size: 5rem;
    text-align: left;
    width: 600px;
  }
  .page-wrapper .bg .content-1 p {
    font-size: 2rem;
    text-align: left;
  }
  .page-wrapper .bg .content-1 .request-invite-btn {
    width: 200px;
    height: 60px;
    font-size: 1rem;
    margin-top: 30px;
  }
  .page-wrapper .why-choose-easybank {
    text-align: left;
    margin-left: 150px;
  }
  .page-wrapper .why-choose-easybank h2 {
    font-size: 5rem;
  }
  .page-wrapper .why-choose-easybank p {
    font-size: 1.5rem;
  }
  .page-wrapper .easybank-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 150px;
  }
  .page-wrapper .easybank-features .online-banking img, .page-wrapper .easybank-features .simple-budgeting img, .page-wrapper .easybank-features .onboarding img, .page-wrapper .easybank-features .open-api img {
    width: 100px;
  }
  .page-wrapper .easybank-features .online-banking h3, .page-wrapper .easybank-features .simple-budgeting h3, .page-wrapper .easybank-features .onboarding h3, .page-wrapper .easybank-features .open-api h3 {
    font-size: 2.5rem;
    margin: 50px 0;
  }
  .page-wrapper .easybank-features p {
    text-align: left;
    font-size: 1.5rem;
  }
  .page-wrapper .latest-articles {
    text-align: left;
  }
  .page-wrapper .latest-articles h2 {
    font-size: 4rem;
  }
  .page-wrapper .latest-articles .articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .page-wrapper .latest-articles .articles img {
    width: 100%;
    height: 250px;
  }
  .page-wrapper .latest-articles .articles h6 {
    font-size: 1.2rem;
  }
  .page-wrapper .latest-articles .articles h4 {
    font-size: 2rem;
  }
  .page-wrapper .latest-articles .articles p {
    font-size: 1.5rem;
  }
  .page-wrapper .latest-articles .articles .restaurant-article img {
    margin-top: 65px;
    width: 100%;
  }
  .page-wrapper .latest-articles .articles .confetti-article img {
    margin-top: 65px;
    width: 100%;
  }
  .mobile-footer {
    display: none;
  }
  .desktop-footer {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #2d314d;
  }
  .desktop-footer .logo-and-socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .desktop-footer .logo-and-socials .logo img {
    width: 200px;
  }
  .desktop-footer .logo-and-socials .socials {
    margin-top: 100px;
  }
  .desktop-footer .logo-and-socials .socials img {
    width: 30px;
    margin-left: 15px;
  }
  .desktop-footer .nav-links-1 a, .desktop-footer .nav-links-2 a {
    color: #f3f4f6;
    text-decoration: none;
    margin-top: 30px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .desktop-footer .request-btn-and-rights {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .desktop-footer .request-btn-and-rights .request-btn {
    border-radius: 20px;
    padding: 15px 40px;
    border: none;
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    color: white;
    font-size: 1.2rem;
  }
  .desktop-footer .request-btn-and-rights span {
    margin-top: 20px;
    color: #9698a6;
    font-size: 1.2rem;
  }
}
