* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 18px;
}

body {
  overflow-x: hidden;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0 25px;
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-nav ul {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
  top: 80px;
  width: 90%;
  height: 350px;
  margin: 0 auto;
  background-color: white;
  list-style-type: none;
  visibility: hidden;
  box-shadow: 0 150px 1000px;
  border-radius: 2%;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: black;
}

.page-wrapper {
  width: 100%;
}

.page-wrapper .bg .bg-mobile {
  top: 0;
  width: 100%;
  max-width: 100%;
}

.page-wrapper .bg .mock-up {
  z-index: 2;
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
}

.page-wrapper .content-1 {
  text-align: center;
  padding: 5px 100px;
  width: 100%;
}

.page-wrapper .content-1 h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #2d314d;
}

.page-wrapper .content-1 p {
  margin: 20px 0;
  color: #9698a6;
}

.page-wrapper .content-1 .request-invite-btn {
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
}

.page-wrapper .why-choose-easybank {
  text-align: center;
  margin-top: 150px;
  padding: 0 50px;
}

.page-wrapper .why-choose-easybank h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #2d314d;
}

.page-wrapper .why-choose-easybank p {
  margin-top: 20px;
  color: #9698a6;
}

.page-wrapper .easybank-features .online-banking, .page-wrapper .easybank-features .simple-budgeting, .page-wrapper .easybank-features .onboarding, .page-wrapper .easybank-features .open-api {
  text-align: center;
  margin-top: 50px;
  padding: 0 50px;
}

.page-wrapper .easybank-features .online-banking h3, .page-wrapper .easybank-features .simple-budgeting h3, .page-wrapper .easybank-features .onboarding h3, .page-wrapper .easybank-features .open-api h3 {
  font-weight: 500;
  color: #2d314d;
}

.page-wrapper .easybank-features .online-banking p, .page-wrapper .easybank-features .simple-budgeting p, .page-wrapper .easybank-features .onboarding p, .page-wrapper .easybank-features .open-api p {
  margin-top: 20px;
  color: #9698a6;
}

.page-wrapper .latest-articles {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.page-wrapper .latest-articles h2 {
  color: #2d314d;
  font-weight: 500;
  font-size: 2rem;
}

.page-wrapper .latest-articles .articles {
  text-align: center;
  margin: 25px 0;
}

.page-wrapper .latest-articles .articles article {
  margin-top: 3 5px;
}

.page-wrapper .latest-articles .articles article img {
  width: 90%;
}

.page-wrapper .latest-articles .articles article .article-caption {
  text-align: left;
  padding: 25px 35px;
}

.page-wrapper .latest-articles .articles article .article-caption .author {
  color: #9698a6;
}

.page-wrapper .latest-articles .articles article .article-caption h4 {
  color: #2d314d;
  margin: 15px 0;
  font-weight: 500;
}

.page-wrapper .latest-articles .articles article .article-caption p {
  color: #9698a6;
}

.page-wrapper footer {
  background-color: #2d314d;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.page-wrapper footer .logo img {
  fill: white;
}

.page-wrapper footer .socials img {
  width: 30px;
  margin-left: 10px;
}

.page-wrapper footer ul {
  list-style-type: none;
}

.page-wrapper footer ul li {
  margin-top: 20px;
}

.page-wrapper footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.page-wrapper footer .request-btn {
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  margin-top: 20px;
}

.page-wrapper footer .rights-reserved {
  color: #9698a6;
  font-size: 0.9rem;
}
