// Primary Colors
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
// Neutral Colors
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-grey: hsl(0, 0%, 98%);
//Font-size
$font-size: 18px;
//Font
$primary-font: "Public Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  font-weight: $font-size;
}
@mixin flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body {
  overflow-x: hidden;
}
.mobile-nav {
  @include flexbox();
  justify-content: space-between;
  height: 70px;
  // max-width: 100%;
  width: 100%;
  padding: 0 25px;
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  ul {
    position: absolute;
    @include flexbox();
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;
    top: 80px;
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    list-style-type: none;
    visibility: hidden;
    box-shadow: 0 150px 1000px;
    border-radius: 2%;
    li a {
      text-decoration: none;
      color: black;
    }
  }
}
.desktop-nav {
  display: none;
}

.page-wrapper {
  //  max-width: 100%;
  width: 100%;
  .bg {
    .bg-mobile {
      top: 0;
      width: 100%;
      max-width: 100%;
    }
    .bg-desktop {
      display: none;
    }
    .mock-up {
      z-index: 2;
      position: absolute;
      top: -70px;
      left: 0;
      width: 100%;
    }
  }
  .content-1 {
    text-align: left;
    padding: 5px 100px;
    width: 100%;
    h1 {
      font-weight: 400;
      font-size: 3rem;
      color: $dark-blue;
    }
    p {
      margin: 20px 0;
      // text-align: justify;
      color: $grayish-blue;
    }
    .request-invite-btn {
      border-radius: 20px;
      padding: 15px 40px;
      border: none;
      background-image: linear-gradient(to right, $lime-green, $bright-cyan);
      color: white;
    }
  }
  .why-choose-easybank {
    text-align: center;
    margin-top: 150px;
    padding: 0 50px;
    h2 {
      font-size: 2rem;
      font-weight: 500;
      color: $dark-blue;
    }
    p {
      margin-top: 20px;
      color: $grayish-blue;
    }
  }
  .easybank-features {
    .online-banking {
      text-align: center;
      margin-top: 50px;
      padding: 0 50px;
      h3 {
        font-weight: 500;
        color: $dark-blue;
      }
      p {
        margin-top: 20px;
        color: $grayish-blue;
      }
    }
    .simple-budgeting {
      @extend .online-banking;
    }
    .onboarding {
      @extend .online-banking;
    }
    .open-api {
      @extend .online-banking;
    }
  }

  .latest-articles {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    h2 {
      color: $dark-blue;
      font-weight: 500;
      font-size: 2rem;
    }

    .articles {
      text-align: center;
      margin: 25px 0;
      article {
        margin-top: 3 5px;
        img {
          width: 90%;
        }
        .article-caption {
          text-align: left;
          padding: 25px 35px;
          .author {
            color: $grayish-blue;
          }
          h4 {
            color: $dark-blue;
            margin: 15px 0;
            font-weight: 500;
          }
          p {
            color: $grayish-blue;
          }
        }
      }
    }
  }
}
.mobile-footer {
  background-color: $dark-blue;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  height: 500px;

  @include flexbox();
  flex-direction: column;
  .logo {
    img {
      fill: white;
    }
  }
  .socials {
    img {
      width: 30px;
      margin-left: 10px;
    }
  }
  ul {
    list-style-type: none;
    li {
      margin-top: 20px;
    }
    li a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
    }
  }
  .request-btn {
    border-radius: 20px;
    padding: 15px 40px;
    border: none;
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
    color: white;
    margin-top: 20px;
  }
  .rights-reserved {
    color: $grayish-blue;
    font-size: 0.9rem;
  }
}
.desktop-footer {
  display: none;
}
@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    @include flexbox();
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    flex-direction: row;
    z-index: 1200;
    background: white;
    .logo {
      img {
        width: 200px;
      }
    }

    ul {
      list-style-type: none;
      @include flexbox();
      li {
        margin-left: 50px;
      }
      li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: $grayish-blue
      }
      li::after {
        content: "";
        display: block;
        width: 0;
        height: 4px;
        background: linear-gradient(to right, $lime-green, $bright-cyan);
        position: relative;
        top: 36px;
        transition: width 0.5s ease-in-out;
      }
      li:hover::after {
        width: 100%;
      }
    }
    .request-invite-btn {
      border-radius: 20px;
      padding: 15px 40px;
      border: none;
      background-image: linear-gradient(to right, $lime-green, $bright-cyan);
      color: white;
      font-size: 1.2rem;
    }
  }
  .page-wrapper {
    padding: 0px 100px;
    .bg {
      @include flexbox();
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;

      .bg-desktop {
        display: block;
        width: 20000px;
        // height: 1000px;
        top: -15vh;
        right: -10vh;
        z-index: 1;
        position: relative;
        
      }
      .bg-mobile {
        display: none;
      }
      .mock-up {
        width: 60%;
        position: absolute;
        top: -50px;
        left: 70vw;
        z-index: 20;
      }
      .content-1 {
        margin-left: 600px;
        // text-align: left;
        h1 {
          font-size: 5rem;
          text-align: left;
          // background: red;
          width: 600px;
        }
        p {
          font-size: 2rem;
          text-align: left;
        }
        .request-invite-btn {
          width: 200px;
          height: 60px;
          font-size: 1rem;
          margin-top: 30px;
        }
      }
    }
    .why-choose-easybank {
      text-align: left;
      margin-left: 150px;
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .easybank-features {
      @include flexbox();
      flex-direction: row;
      margin-top: 150px;
      margin-left: 150px;
      .online-banking {
        img {
          width: 100px;
        }
        h3 {
          font-size: 2.5rem;
          margin: 50px 0;
        }
      }
      p {
        text-align: left;
        font-size: 1.5rem;
      }
    }
    .latest-articles {
      text-align: left;
      h2 {
        font-size: 4rem;
      }
      .articles {
        @include flexbox();
        
        flex-direction: row;
        img {
          width: 100%;
          height: 250px;
          
        }
          h6{
            font-size: 1.2rem;
          }
          h4{
            font-size: 2rem;
          }
          p{
            font-size: 1.5rem;
          }
        .restaurant-article{
          img{
            margin-top: 65px;
            width: 100%;

          }
          
        }
        .confetti-article{
            img{
              margin-top: 65px;
              width: 100%;
            }
          }
      }
    }
  }
  .mobile-footer {
    display: none;
  }
  .desktop-footer {
    display: block;
    @include flexbox();
    width: 100%;
    height: 300px;
    background-color: $dark-blue;
    .logo-and-socials {
      @include flexbox();
      flex-direction: column;
      .logo{
        img{
          width: 200px;
        }
      }
      .socials{
        margin-top: 100px;
        img{
          width: 30px;
          margin-left: 15px;
        }
      }
    }
    .nav-links-1{
        a{
          color: $light-grayish-blue;
          text-decoration: none;
          margin-top: 30px;
          font-size: 1.3rem;
          @include flexbox;
          flex-direction: column;
        }
      }
      .nav-links-2{
        @extend .nav-links-1;
      }
      .request-btn-and-rights{
        @include flexbox();
        flex-direction: column;
        .request-btn{
        border-radius: 20px;
      padding: 15px 40px;
      border: none;
      background-image: linear-gradient(to right, $lime-green, $bright-cyan);
      color: white;
      font-size: 1.2rem;
        }
        span{
          margin-top: 20px;
          color: $grayish-blue;
          font-size: 1.2rem;
        }
      }
  }
}
